<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>阿布跑跑-登录</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <el-container class="height-100">
      <el-main class="login-border">
        <el-row class="height-100" type="flex" align="middle">
          <el-col :xs="0" :sm="12" :md="12" :lg="12" :xl="12">
            <el-row type="flex" justify="center" align="middle">
              <el-col :span="12">
                <img class="login-bg" :src="logInBg" alt="bg" />
              </el-col>
            </el-row>
          </el-col>
          <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
              <el-row type="flex" justify="center" align="middle" >
                  <el-col :xs="0" :sm="2" :md="2" :lg="2" :xl="2">
                      <a href="javascirpt:void(0);" @click.prevent="handClickRedirectPage('index')">
                          <img class="login-aboo" :src="logInAboo" alt="ABOO" />
                      </a>
                  </el-col>
              </el-row>
              <el-row type="flex" justify="center" align="middle">
                  <el-col :xs="24" :sm="4" :md="4" :lg="4" :xl="4" class="text-center h1">
                      {{signText}}
                  </el-col>
              </el-row>
              <el-row type="flex" justify="center" align="middle">
                  <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                      <sign-in 
                        v-if="signStatus == 1"
                        @on-handle-click-sign-status="handleClickSignStatus"></sign-in>
                      <sign-up 
                        v-if="signStatus == 2"
                        @on-handle-click-sign-status="handleClickSignStatus"></sign-up>
                      <sign-forgot
                        v-if="signStatus == 3"
                        @on-handle-click-sign-status="handleClickSignStatus"></sign-forgot>
                  </el-col>
              </el-row>
              <el-row type="flex" justify="center" v-if="signStatus === 1">
                  <el-col :xs="0" :sm="12" :md="12" :lg="12" :xl="12">
                      <el-button class="width-100" type="primary" plain @click="handleClickSignStatus(2, '注册')">注册</el-button>
                  </el-col>
              </el-row>
              <el-row type="flex" justify="center" v-if="signStatus === 1">
                  <el-col :xs="4" :sm="0" :md="0" :lg="0" :xl="0">
                      <el-button type="text" plain @click="handleClickSignStatus(2, '注册')">注册<i class="el-icon-arrow-right"></i></el-button>
                  </el-col>
              </el-row>
              <el-row type="flex" justify="center" v-if="signStatus !== 1">
                  <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
                      <el-button type="text" plain @click="handleClickSignStatus(1, '登录')">立即登录<i class="el-icon-arrow-right"></i></el-button>
                  </el-col>
              </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</body>

</html>