<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>阿布跑跑-个人中心</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <el-container>
            <el-header>
                <navigation-bar active-index="4"></navigation-bar>
            </el-header>
            <el-main>
                <el-container class="wraper">
                    <el-header height="40px">
                        <el-breadcrumb>
                            <el-breadcrumb-item>首页</el-breadcrumb-item>
                            <el-breadcrumb-item>{{profileText}}</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-header>
                    <el-container style="height: 80vh; border: 1px solid #eee">
                        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                            <el-menu :default-active="profileIndex" @select="handleSelect">
                                <el-menu-item index="1">我的账号</el-menu-item>
                                <el-menu-item index="2">我的个人资料</el-menu-item>
                                <el-menu-item index="3">我的订单</el-menu-item>
                                <el-menu-item index="4">我的收货地址</el-menu-item>
                            </el-menu>
                        </el-aside>
                        <el-main>
                            <el-container v-if="profileIndex == 4" >
                                <address-list v-if="addressStatus == 1"
                                    :user-info="userInfo"
                                    :address-lists="addressLists"
                                    :loading="loading"
                                    @on-handle-click-address-status="handleClickAddressStatus"
                                    @on-handle-click-delete-address="handleClickDeleteAddress"
                                    @on-handle-get-address-list="handleGetAddressList"
                                    ></address-list>
                                <add-address v-if="addressStatus == 2"
                                    :user-info="userInfo"
                                    :loading="loading"
                                    @on-handle-click-address-status="handleClickAddressStatus"
                                    @on-handle-click-add-address="handleClickAddAddress"
                                    ></add-address>
                                <update-address v-if="addressStatus == 3"
                                    :loading="loading"
                                    :update-address="updateAddress"
                                    @on-handle-click-address-status="handleClickAddressStatus"
                                    @on-handle-click-update-address="handleClickUpdateAddress"
                                    >
                                </update-address>
                            </el-container>
                        </el-main>
                    </el-container>
                </el-container>
            </el-main>
            <el-footer height="20vh">
                <foot></foot>
            </el-footer>
        </el-container>
    </div>
</body>

</html>