@charset "utf-8";

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left !important;
}
.round {
    overflow: hidden;
    border-radius: 50%;
}
.h1 {
    font-size: 20px;
}
.h2 {
    font-size: 18px;
}
.h3 {
    font-size:  16px;
}
.p {
    font-size: 14px;
    color: #707473;
}
.gray {
    color: #707473 !important;
}
.bold{
    font-weight: bold;
}
.height-100 {
    height: 100%;
}
.width-100 {
    width: 100%
}
.padding-0{
    padding: 0 !important;
}
.relative{
    position: relative;
}
.static{
    position: static;
}
.button-right{
    position: absolute !important;
    top:0;
    right:12px;
}
.absolute-middle-center{
    position: absolute !important;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}
.absolute-top-right{
    position: absolute !important;
    top:0;
    right:0;
}
.absolute-middle-right{
    position: absolute !important;
    top:50%;
    right:0;
    transform: translateY(-50%);
}
.absolute-bottom-right{
    position: absolute !important;
    bottom:0;
    right:0;
}
.absolute-top-left{
    position: absolute !important;
    top:0;
    left:0;
}
.absolute-middle-left{
    position: absolute !important;
    top:50%;
    left:0;
    transform: translateY(-50%);
}
.absolute-bottom-left{
    position: absolute !important;
    bottom:0;
    left:0;
}
.bottom-fixed {
    position: fixed !important;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,.1);
    /* height: 8vh; */
    /* padding: 1vh 0; */
    /* z-index: 99; */
    margin: 0;
}
.shadow{
    box-shadow: 1px -1px 4px rgba(0,0,0,.1);
}
.block{
    display: block;
}

.bg-white {
    background:white;
}
.mt10{
    margin-top: 10px !important;
}
.mb10{
    margin-bottom: 10px !important;
}
.ml10{
    margin-left: 10px !important;
}
.mr10{
    margin-right: 10px !important
}
.mt20{
    margin-top: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.pt10{
    padding-top: 10px !important;
}
.pb10{
    padding-bottom: 10px !important;
}
.pl10{
    padding-left: 10px !important;
}
.pr10{
    padding-right: 10px !important
}
.pt20{
    padding-top: 20px !important;
}
.pb20{
    padding-bottom: 20px !important;
}
.pl20{
    padding-left: 20px !important;
}
.pr20{
    padding-right: 20px !important;
}
.border-active {
    border:1px solid #44abf2 !important;
    color: #44abf2 !important;
}
.border {
    border: 1px solid #e7e7e7;
}
.border-left {
    border-left: 1px solid #e7e7e7
}
.border-right {
    border-right: 1px solid #e7e7e7
}
.border-top {
    border-top: 1px solid #e7e7e7;
}
.border-bottom {
    border-bottom: 1px solid #e7e7e7;
}
.boder-botton-last-none:last-child {
    border-bottom: none;
}
.min-heigth {
    min-height: 680px;
}
@media (max-width: 768px) {
    .min-heigth {
        height: 100%;
        min-height: 100%;
    }
    .mobile-padding-0 {
        padding: 0 !important;
    }
    .bg-gray {
        background-color: #F7F8F9 !important;
        background: #F7F8F9;
    }
    .shadow{
        box-shadow: none;
    }
    .border{
        border: none;
    }
}
.pointer {
    cursor: pointer;
}
.ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.visibility .active{
    visibility: hidden;
}
.visibility:hover .active{
    visibility: visible;
}
