<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ABOO阿布跑跑-商城</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <el-container>
      <el-header>
        <navigation-bar active-index="3"></navigation-bar>
      </el-header>
      <el-main v-loading="loading">
        <el-container class="product-container wraper" v-if="goodsInfo && priceList && specDatas">
          <el-row :gutter="20" type="flex" justify="center" align="middle">
            <el-col :span="15">
              <img v-if="currentGoods" :src="currentGoods.Img" alt="">
              <img v-else src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1389304265,2918777290&fm=27&gp=0.jpg"  />
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <el-row>
                <el-col>
                  <h1>{{goodsInfo.GoodsName}}</h1>
                </el-col>
              </el-row>
              <el-row>
                <el-col>
                  <p>{{goodsInfo.Intr}}</p>
                </el-col>
              </el-row>
              <template v-for="specData in specDatas">
                <el-row>
                  <el-col>
                    <h3>{{specData.specName}}</h3>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col>
                    <el-radio-group v-model="selectSpecDatas[specData.specId]">
                      <el-radio-button :label="spec.Cid" v-for="(spec, index) in specData.specSub" :key="index">{{spec.Name}}</el-radio-button>
                    </el-radio-group>
                  </el-col>
                </el-row>
              </template>
              <el-row>
                <el-col>
                  <h3>数量</h3>
                </el-col>
              </el-row>
              <el-row>
                <el-col>
                  <el-input-number v-model="number"  @change="handleChangeNumber" :min="1" :max="10"></el-input-number>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </el-container>
      </el-main>
      <el-footer height="90px" :style="cartButtonFixedStyle">
        <cart-button-fixed
          :total="total"
          :current-goods="currentGoods"
          @on-handle-click-cart-add="handleClickCartAdd"
          @on-handle-click-cart-status="handleClickCartStatus">
        </cart-button-fixed>
      </el-footer>
      <cart-dialog 
        :cart-status="cartStatus"
        @on-handle-click-cart-status="handleClickCartStatus"
        @on-handle-click-redirect-cart="handleClickRedirectCart"
        >
      </cart-dialog>
    </el-container>
  </div>
</body>

</html>