<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <title>阿布跑跑</title> -->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak class="bg-gray">
    <router-view></router-view>
    <!-- <el-container>
            <el-header>
                <navigation-bar></navigation-bar>
            </el-header>
            <el-main class="bg-gray padding-0">
							<el-row type="flex" justify="center" align="middle">
								<el-col :xs="0" :sm="20" :md="20" :lg="20" :xl="20">
									<el-container style="border: 1px solid #eee">
											<el-aside width="200px" style="background-color: rgb(238, 241, 246)">
												<el-menu :default-active="menuStatus" @select="handleSelect">
													<el-menu-item index="1">我的订单</el-menu-item>
													<el-menu-item index="2">我的收货地址</el-menu-item>
												</el-menu>
											</el-aside>
											<el-main>
												<order-lists
														v-if=" menuStatus == 1 && orderStatus == 1"
														:order-lists="orderLists"
														:loading="loading"
														:limit="limit"
														@on-handle-click-order-status="handleClickOrderStatus"
														@on-handle-get-order-lists="generateGetOrderLists"
														@on-handle-bc-pay="handleBcPay"
														></order-lists>
												<order-detail
														v-if="menuStatus == 1 && orderStatus == 2"
														:order-id="orderId"
														:order-a-detail="orderADetail"
														:order-b-list="orderBList"
														:loading="loading"
														@on-handle-click-order-status="handleClickOrderStatus"
														@on-handle-get-order-detail="generateGetOrderDetail"
														></order-detail>
													<address-lists
															v-if="menuStatus == 2 && addressStatus == 1"
															:user-info="userInfo"
															:address-lists="addressLists"
															:loading="loading"
															@on-handle-click-address-status="handleClickAddressStatus"
															@on-handle-click-address-delete="handleClickAddressDelete"
															@on-generate-get-address-lists="generateGetAddressLists"
															></address-lists>
													<address-add
															v-if="menuStatus == 2 && addressStatus == 2"
															:user-info="userInfo"
															:loading="loading"
															@on-handle-click-address-status="handleClickAddressStatus"
															@on-handle-click-address-add="handleClickAddressAdd"
															></address-add>
													<address-update
															v-if="menuStatus == 2 && addressStatus == 3"
															:loading="loading"
															:address-update="addressUpdate"
															@on-handle-click-address-status="handleClickAddressStatus"
															@on-handle-click-address-update="handleClickAddressUpdate"
															>
													</address-update>
											</el-main>
									</el-container>
								</el-col>
								<el-col :xs="24" :sm="0" :md="0" :lg="0" :xl="0">
									<order-lists-mobile
										:order-lists="orderLists"
										:loading="loading"
										@on-handle-click-order-status="handleClickOrderStatus"
										@on-handle-get-order-lists="generateGetOrderLists"
										@on-handle-bc-pay="handleBcPay"
										></order-lists-mobile>
								</el-col>
							</el-row>
            </el-main>
        </el-container> -->
  </div>
  <!-- <script id='spay-script' src='https://jspay.beecloud.cn/1/pay/jsbutton/returnscripts?appId=3f1d3241-fa3b-4bdb-98fc-761334b70932'></script> -->
</body>

</html>